body{
    margin: 5px;
    padding: 0px;
    background-color: white;
    margin-left: 20px;
}
.container{
    
    background-color: yellow;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 25px;
}
nav{
    position: absolute;
    z-index: 10;
    width: 100%;
    }

ul>li{
    margin-top: 11px;
    margin-left: 5px;
    padding-left:23px;
    padding-right:23px;
    
}
h2{
    font-size: 80px;
    text-align: left;
    font-style: oblique;
    margin-bottom: 80px;
}
p{
    font-size: 20px;
    text-align: left;
}
.header-logo{
    margin-bottom: 10px;
}

.primary-logo{
       height: 50px;
}
.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}
.carousel .carousel-item img {
    display:block;
    object-fit: cover;
}
.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.yellowMtn{
    background-color: yellow;
}
.main-call-to-action{
    background-color: white;
}
.each-action{
    flex-direction: column;
}

.format{
    flex-direction: row;
    justify-content: center;
    display: flex;
    gap: 180px;
    border-radius: 15px, 50px;


   
}
.format :hover, :active{
    background-color: rgb(199, 197, 197);
    margin: 10px;
    padding: 10px;
    
}
.image{
    margin-top: 18px;
    height: 45px;

}
.latest{
    margin-left: 30px;
    background-color: white;
    margin-left: 50px;
}
.news{
    padding-left: 50px;
    padding-top: 30px;
    margin-left: 390px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: bolder;
}
.carosel-inner>h1{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn btn-outline-secondary{
    box-sizing: 25px;
}
.coll{
    background-color: white;
}
.col{
    margin-top: 20px;
    object-fit: cover;
    
    
}
.action-text, a:link{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}
.bgLight{
   background: no-repeat;
   border-image: 40%;
   border-image: round;
}
#buttons{
    justify-content: center;
    border-radius: 30px;
    background-color: black;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    width: 200px;
    padding: 5px;
    text-align: center;
     border: none;
    
}

#contain{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin-left: 28px;
    margin-right: 0px;
    width: 1400px;
    height:900px;
    gap:30px;
    background-image: url("woodhut.jpg");
    image-orientation: flip;
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
}

ul#horizontal-list  {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-left: 70px;
    margin-top: 100px;
    
}
.headings{
    list-style: none;
    border-radius: 30px;
    border: 2px solid #2e2e2e;
    padding: 20px; 
    width: 270px;
    height: 180px; 
    margin-top: 30px;
    float: left;
    color: rgb(12, 12, 12);
    background-color: rgb(86, 160, 102);
    
    
}
.head{
    margin-top: 45px;
    text-align: center;
}
.para{
    font-size: 15px;
    text-align: center;
   
}
h3{
    margin-left: 500px;
    padding-top: 400px;
}
.three-icon-container{
    flex-direction: row;
    justify-content: center;
    display: flex;
    gap: 150px;
    padding-top: 30px;
    
    
}
.each-icon{
 display: flex;
 align-items: center;
}

.container2{
    background-image: url("business.jpg");
    width: 1200px;
    height:500px;
    background-size: cover;
    margin-top: 60px;
}
.investment-img{
    margin-left: 20px;
    height: 300px;
}
.inner-container{
    background-color: white;
    width: 400px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 30px;
    border: 2px solid #2e2e2e;
    padding: 20px; 
    height: 400px; 
   
    
}
.display{
    display: flex;
}
.investor{
    margin-top: -350px;
}
.investor >h3 {
    margin-left: -0.5px;
    font-size: 34px;
    font-style: italic;
}
